#bottom
	.container
		.row
			.col-md-4
				#latest-tweet
					h4.title-bt QUICK LINKS
					ul.link-text
						li
							a(href='#') Link Text Here
						li
							a(href='#') Link Text Here
						li
							a(href='#') Link Text Here
						li
							a(href='#') Link Text Here
						li
							a(href='#') Link Text Here
						li
							a(href='#') Link Text Here
			// END .col-md-4 #link
			.col-md-4
				#contact-us
					h4.title-bt CONTACT US
					p
						|Company Name
						br
						|Street Name & Number
						br
						|Town
						br
						|Postcode/Zip
						br
						br
						|Tel:
						br
						|xxxxx xxxxxxxxxx
						br
						br
						|Fax:
						br
						|xxxxx xxxxxxxxxx
						br
						br
						|Email:
						br
						|contact@mydomain.com
			// END .col-md-4 #contact-us
			.col-md-4
				#socialise
					h4.title-bt SOCIALISE
					ul.link-socialise
						li
							a(href='#')
								img(src='#{sails.getBaseurl()}/images/linked-in.png')
								| LinkedIn
						li
							a(href='#')
								img(src='#{sails.getBaseurl()}/images/twitter.png')
								| Twitter
						li
							a(href='#')
								img(src='#{sails.getBaseurl()}/images/pinterest.png')
								| Pinterest
						li
							a(href='#')
								img(src='#{sails.getBaseurl()}/images/rss-fed.png')
								| RSS Feed
			// END .col-md-4 #socialise
	// END .row #bottom

footer
	.footer-blk
		.container
			.row
				.col-md-9
					p Copyright © 2016 Hotdeal.vn - All Rights Reserved
				.col-md-3
					p Create by Quyen Nguyen
// END footer
