header
	.header-blk
		.container
			.row
				.col-md-3.col-sm-3
					a(href="#").logo
						p
							img(src="images/ic_logo_365.png")
						p
							span Sản phẩm uy tín giá cả hợp lý
				.col-md-5.col-sm-5
					.nav-search-itm
						.nav-header.nav-top
							li
								a(href="#")
									<i class="fa fa-map-marker" aria-hidden="true"></i>
									|BẢN ĐỒ ĐẾN CỬA HÀNG
							li
								a(href="#")
									|QUI ĐỊNH BẢO HÀNH
							li
								a(href="#")
									|LIÊN HỆ
						.form-search
							form(class="form-inline" role="form")
								.form-group
									input(type="input" class="input-search" placeholder="Bạn cần tìm gì...")
									button(type="submit" class="btn-search")
										<i class="fa fa-search" aria-hidden="true"></i>
				.col-md-2.col-sm-2
					.hot-line
						p.txt-orange HOTLINE
						p
							img(src="images/ico-phone.png")
							span.txt-phone-num 1900 2074
				.col-md-2-col-sm-2
					.nav-header.social-itm
						li
							a(href="#")
								img(src="images/ic_hd_fb.png")
						li
							a(href="#")
								img(src="images/ic_hd_yt.png")
						li
							a(href="#")
								img(src="images/ic_hd_gg.png")
			.row
				.col-md-3.col-sm-3
					a(href="#" data-toggle="dropdown")
						.prd-itm
							<i class="fa fa-bars" aria-hidden="true"></i>
							|DANH MỤC SẢN PHẨM
					ul.main-menu.clearfix.dropdown-menu
								li.had-child
									a(href="#")
										img(src="images/ico-menu-phone.png")
										|ĐIỆN THOẠI
										.f-r +
									.sub-menu
										ul 
											li
												a(href="#")
													|BlackBerry
											li
												a(href="#")
													|iPhone
											li
												a(href="#")
													|Asus
											li
												a(href="#")
													|Nokia Lumia
											li
												a(href="#")
													|Samsung
								li.had-child
									a(href="#")
										img(src="images/ico-menu-tablet.png")
										|MÁY TÍNH BẢNG
										.f-r +
									.sub-menu
										ul
											li
												a(href="#")
													|Apple
											li
												a(href="#")
													|Asus
											li
												a(href="#")
													|iPad
								li.had-child
									a(href="#")
										img(src="images/ico-menu-phukien.png")
										|PHỤ KIỆN
										.f-r +
									.sub-menu
										ul
											li
												a(href="#")
													|Phụ kiện BlackBerry
											li
												a(href="#")
													|Phụ kiện iPhone
											li
												a(href="#")
													|Phụ kiện Asus
											li
												a(href="#")
													|Phụ kiện Nokia Lumia
											li
												a(href="#")
													|Phụ kiện Samsung
								li.had-child
									a(href="#")
										img(src="images/ico-menu-phukienapple.png")
										|PHỤ KIỆN APPLE
										.f-r +
									.sub-menu
										ul
											li
												a(href="#")
													|Pin
											li
												a(href="#")
													|Màn hình
											li
												a(href="#")
													|Tai nghe
								li
									a(href="#")
										img(src="images/ico-menu-hangxakho.png")
										|HÀNG XẢ KHO
								li
									a(href="#")
										img(src="images/ico-menu-tintuc.png")
										|TIN TỨC
				.col-md-9.col-sm-9
					.nav-header.nav-main
						li
							a(href="#")
								p.txt-nav-title
									img(src="images/ic_km.png")
									|KHUYẾN MÃI
						li
							a(href="#")
								p.txt-nav-title
									img(src="images/ic-xahang.png")
									|HÀNG XẢ KHO
						li
							a(href="#")
								p.txt-nav-title
									img(src="images/ic_tragop.png")
									|MUA TRẢ GÓP
						li
							a(href="#")
								p.txt-nav-title
									img(src="images/ic_ship.png")
									|GIAO HÀNG TẬN NƠI
