header
	.header-blk
		.container
			.row
				.col-md-3.col-sm-3
					a(href="/").logo
						h1 Hotdeal.vn
						p
							span Sản phẩm uy tín giá cả hợp lý

				.col-md-9.col-sm-9
					ul.main-menu.clearfix
						li.active
							a(href='/') Trang chủ
						li.had-child
							a(href="javascript:;") Danh mục sản phẩm+
							.sub-menu
								ul
									- each cate in data[0]
										li
											a(href="#") #{cate.name}
						li
							a(href='#') FULL WIDTH
						li.had-child
							a(href='#') DROPDOWN +
							.sub-menu
								ul
									li
										a(href='#') UP-DOWN
									li
										a(href='#') LEFT-RIGHT
						li
							a(href='#') PORTFOLIO
						
					// END .main-menu

