block vars
	-title="Eidt category Hotdeal.vn"
extends ../layoutadmin
block body
	.container
		form(action="/cate/update/"+cate.id mothod="POST" class="form-signin")
			h2 Hi, you are editting a cate..
			input(id="nameCate" value= cate.name name="name" type="text" class="form-control")
			input(type="submit" value="Process" class="btn btn-lg btn-primary btn-block")
			input(type="hidden" name="_csrf" value=_csrf)