extends ./layout

block body
	.container
		.row
			.col-md-8
				h1 Welcome to my website
				a(href="/user/new" type="submit" class="btn btn-primary") Sign up now!
			.col-md-4
				form(action="http://localhost:1337/send" method="GET" class="form-signin")
					h2.form-signin-heading Create an acount
					div 
						input(type="text" class="form-control" placeholder="your name" name="name")
						input(type="text" class="form-control" placeholder="your title" name="title")
						input(type="text" class="form-control" placeholder="your email address" name="email")
						input(type="password" class="form-control" placeholder="password" name="password")
						input(type="password" class="form-control" placeholder="password confirmation" name="confirmation")
						input(type="submit" class="btn btn-lg btn-primary btn-block" value="Create Acount")
						p By clicking "Create Acount", you agree to our terms of service and privacy policy. We'll occasionally send you account related emails.
					input(type="hidden", name="_csrf", value=_csrf)