extends ../layoutadmin
block body
	.container
		form(action="/user/update/"+user.id mothod="POST" class="form-signin")
			h2 Hi, you are editting a user..
			input(value= user.name name="name" type="text" class="form-control")
			input(value= user.job name="job" type="text" class="form-control")
			input(value= user.email name="email" type="text" class="form-control")
			input(type="submit" value="Process" class="btn btn-lg btn-primary btn-block")
			input(type="hidden" name="_csrf" value=_csrf)