block vars
	-title="Hotdeal.vn"
extends ../layouts/layout
block main  
	.hm-sec-blk
		.container
			h3 Cảm ơn quý khách đã đặt mua sản phẩm của chúng tôi. Mọi chi tiết về đơn đặt hàng chúng tôi đã gửi qua email của quý khách. Xin chân thành cảm ơn.