block vars
	-title="Detail Product Hotdeal.vn"
extends ../layoutadmin
block body
	.container
		a(style="display:inline-block;" href="/detail/new" class="btn btn-sn btn-primary")
			i(class="fa fa-plus" aria-hidden="true")
				|Add deal	
		h2 Please choose category products

		form(action="/detail/list/", method="POST", enctype="multipart/form-data")

			select(name="owner")
				- each cate in data[0]
					option(value= "#{cate.id}") #{cate.name}

			button(style="display:inline-block;" class="btn btn-sn btn-primary")
				i(class="fa fa-plus" aria-hidden="true")
					|View
			input(type="hidden", name="_csrf", value=_csrf)