.navbar-default {
	margin-top: 15px;
}
.form-signin {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	input {
		margin: 15px 0;
	}
}
.img-avatar {
	width: 35px;
	height: 35px;
}
.img-prd {
	width: 50px;
	height: 50px;
}