
/*HEADER------------------------------- */
.header-blk {
	width: 100%;
	margin:30px 0 80px 0;
	border-top: 10px solid #96739f;
}
.logo {
	padding-top: 30px;
}

.logo a {
	color: #96739f;
}
.logo h1 {
	color: #96739f;
	margin: 0;
	padding: 0;
}

.main-menu {
	list-style: none;
	background-color: #ffff;
	padding: 0;
	font-size: 18px;
	text-transform: uppercase;
}

.main-menu > li {
	display: inline-block;
	float: left;
	position: relative;
}
.main-menu > li.active > a {
	background-color: #7e5c88;
}
.main-menu > li > a {
	display: block;
	height: 90px;
	line-height: 120px;
	color: #979797;
	text-decoration: none;
	padding: 0 15px;
	transition: background-color 0.45s ease-out;
	-moz-transition: background-color 0.45s ease-out;
	-webkit-transition: background-color 0.45s ease-out;
}

.main-menu > li > a:hover {
	background-color: #7e5c88;
	color: #ffffff;
}

.main-menu > li.had-child:hover .sub-menu {
	left: 0;
	opacity: 1;
	visibility: visible;
	font-size: 16px;
}

.sub-menu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 90px;
	left: -10px;
	transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}

.sub-menu > ul {
	list-style: none;
	background-color: #ffffff;
	padding: 0;
	width: 200px;
}
.sub-menu > ul a {
	color: #979797;
	text-decoration: none;
	display: block;
	padding: 10px;
	transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
}

.sub-menu > ul a:hover {
	background-color: #7e5c88;
	text-indent: 5px;
	color: #ffffff;
}
.logo {
	text-decoration: none;
}