
/* COMMOM SETTING */
body {
	font-family: Georgia,sans-serif;
	font-weight: 300;
	color: #ffff;
	margin: 0;
	padding: 0;
	
}
h1 {
	font-weight: normal;
	font-size: 36px;
}

a {
	color: #96739f;
	font-style: Georgia;
	text-decoration: none;
}
a:hover {
	color: #002985;
	text-decoration: none;
}

.clearfix:after {
	content: '';
	display: table;
	height: 0;
	width: 100%;
	clear: both;
}
/* MAIN MENU */
.img-prd {
	height: 200px;
}